@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body {
   height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #979393;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 340px;
    height: 300px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 20px 10px  gray;
}

.card img{
    width: 100%;
    height: 100%;
}

.content{
    position: absolute;
    top: 100%;
    padding: 5px 14px;
    text-align: left;
    color: white;
}

.content p{
    font-size: 12px;
    line-height: 18px;
}

.content h1{
    font-size: 24px;
    padding-bottom: 3px;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card:hover{
    box-shadow: 10px 10px 20px gray;
}

.card:hover img{
    transform: scale(1.1);
    filter: brightness(0.6);
    transition:  ease .3s ;
}

.card:hover .content{
    top: 62%;
    transition: all ease .3s;
}

.card:not(:hover) img{
    transform: scale(1);
    transition: all ease 0.3s;
}

.card:not(:hover) .content{
    transition: all ease 0.3s;
}